{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="intro">
<div class="container">
<h1 class="text-center">WHAT WE DO</h1>
   <p>Crystal web is a digital marketing, website development company that focuses on providing quality services to its clients, be it small business or large business when it comes to building clean and safe websites.</p>
</div>
</div>

<div class="ib">
<div class="container-fluid">
<div class="banner">
	<img src="{% static 'images/about1.png' %}"/>
</div>
</div>
</div>

<div class="quo"></div>
<div class="container-fluid">
	<div class="sen">
		<p><b>&#34;</b> A Website as we all know is the major strength of every company that focuses on branding as a major priority and to raise the standards in the organization.<b>&#34;</b></p>

		<p>Our team consist of web designers, programmers who are equiped wth the latest trends in technology.</p>
	</div>
</div>
<p></p>
<div class="technology">
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<h3>Technology</h3>
			<p>We make use of the latest technologies that are well proven and practical.<br>Our focus is to use the right tools for security , content management etc to meet the demands of our clients.</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<img src="{% static 'images/c1.jpeg' %}" width="100%" height="100%">
		</div>
	</div>
</div>
</div>


{% endblock content %}
