{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="heat">
    <div class="container">
        <h1>WE PROVIDE CLEAN AND SAFE WEBSITES<br>
        TO MEET INTERNATIONAL STANDARDS.</h1>
        <div class="row textcenter wow bounceInLeft" data-wow-delay="1s">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                <i class="fas fa-database" style="font-size:74px"></i>
                <p>UI & UX DESIGN</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <i class="fas fa-desktop" style="font-size:74px"></i>
                <p>WEB DEVELOPMENT</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <i class="fas fa-desktop" style="font-size:74px"></i>
                <p>CONTENT MANAGEMENT</p>
            </div>
        </div> 
    </div>
</div>

<div class="mes">
    <div class="container">
        <div class="bus">
            <h1>Start your business with us</h1>
            <p>Your business depends on how far you want to reach others with your products and services.let Crystal web be a part of your future!. We pay close attention to our clients and do the best to make them reach their goals. Get in touch with us and we will do justice to your needs.</p>
        </div>
    </div>
</div>

<div class="mr">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                 <img class="img-responsive" src="{% static '/images/c1.jpeg' %}" alt="" width="500" height="400">
                 <div class="overlay">
                    <h2>You are at the right place</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static '/images/c2.jpeg' %}" alt="" width="500" height="400">
                <div class="overlay">
                    <h2>We offer the best services</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static '/images/c3.jpeg' %}" alt="" width="500" height="400">
                <div class="overlay">
                    <h2>Feel relaxed</h2>
                    <a class="info" href="#">link here</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<p></p>
<p></p>





<div class="sec">
<div class="container">
    <h1>SECURITY?</h1>
    <p>When it comes to security, you are at the right place.</p>

</div>
</div>

{% endblock content %}